@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: Altinn-Din;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/din/Altinn-DINExp.woff2") format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Altinn-Din;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/din/Altinn-DINExp-Bold.woff2") format("woff2");
}

@layer components {
  .button {
    @apply text-[35px] border-2 border-white text-white p-4 bg-white bg-opacity-20;
  }
}

@layer utilities {
  .montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .primary {
    @apply bg-neutral-800
  }

  .secondary {
    @apply bg-neutral-600;
  }
}


html,
body {
  padding: 0;
  margin: 0;
}

body {
  @apply h-screen flex flex-col dark:text-white text-[30px];
}

main {
  flex: 1;
  position: relative;
  @apply mt-[3rem];
}