@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Montserrat";
  src: url('/Montserrat.ttf');
  font-display: swap;
}


@layer components {
  .button {
    @apply p-4 border-2 bg-slate-700 text-white rounded-lg border-transparent hover:border-white text-xl transition-all
  }
}

@layer utilities {
  .montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .primary {
    @apply bg-neutral-800
  }

  .secondary {
    @apply bg-neutral-600;
  }
}


html,
body {
  padding: 0;
  margin: 0;
}

body {
  @apply h-screen flex flex-col dark:text-white ;
}

main {
  flex: 1;
  position: relative;
  @apply mt-[3rem];
}