@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: Altinn-Din;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/din/Altinn-DINExp.woff2") format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Altinn-Din;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/din/Altinn-DINExp-Bold.woff2") format("woff2");
}

@layer components {
  .button {
    @apply text-[35px] border-2 border-white text-white p-4 bg-white bg-opacity-20;
  }
}

@layer utilities {
  .montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .primary {
    @apply bg-neutral-800
  }

  .secondary {
    @apply bg-neutral-600;
  }
}


html,
body {
  padding: 0;
  margin: 0;
}

body {
  @apply h-screen flex flex-col dark:text-white text-[30px];
}

main {
  flex: 1;
  @apply mt-[3rem];
}
.section-container {
  @apply container mx-auto py-14 md:py-24 md:px-16 px-4 lg:scroll-mt-24;
}
.section-full {
  @apply w-full py-14 md:py-24 lg:scroll-mt-24;
}
.container-section-full{
  @apply container mx-auto md:px-16 px-4;
}
h3.title{
    @apply font-bold text-lg text-gray-400 pb-8;
  }
p.lead {
  @apply font-bold uppercase text-5xl md:text-7xl 2xl:text-8xl leading-[0.9] text-gray-800 md:tracking-tight antialiased
}
p.section {
  @apply text-base text-gray-500 my-12
}
.scroll-item {
  @apply flex overflow-x-auto scrollbar-thin scrollbar-track-primary-lighter scrollbar-thumb-primary-darker
}
.little-btn-white {
  @apply p-2 text-gray-100 border border-white border-opacity-25 bg-white bg-opacity-20 text-lg cursor-pointer 
}
.little-btn-white:hover{
  @apply text-primary-darker bg-opacity-80
}
