---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { get } from "./api/articles";
import type { Article } from "../utils/article.type";
import ProjectCard from "../components/ProjectCard.astro";
import ArticleCard from "../components/ArticleCard.astro";
import EducationCard from "../components/EducationCard.astro";
import ExpCard from "../components/ExpCard.astro";
import ContactCard from "../components/ContactCard.astro";
import { Icon } from "astro-icon";

const { articles }: { articles: Article[] } = await (await get()).json();
const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.date - a.data.date
);

const education = (await getCollection("education"))
  .sort((a, b) => b.data.graduation - a.data.graduation)
  .slice(0, 3);
const experiences = (await getCollection("experience")).sort(
  (a, b) => b.data.begin - a.data.begin
);
---

<Layout title="Matteo Gassend">
  <div class="w-full space-y-2 lg:space-y-12 px-4">
    <section id="about">
      <div class="flex flex-col md:flex-row items-center justify-evenly mt-3">
        <h1 class="text-3xl text-center font-black">
          Hello, my name is <b>Matteo</b>
        </h1>
      </div>
      <p class="text-center text-xl">
        I am a fullstack developer with {new Date().getFullYear() - 2020} years of
        experience in the industry.
      </p>
    </section>
    <section id="projects">
      <h2 class="section__title mb-4">I worked on things like these</h2>
      <div class="flex overflow-x-auto gap-4 snap-x snap-mandatory scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        {projects.map((e) => <div class="min-w-[100%] md:min-w-[33%] lg:min-w-[25%] snap-center"><ProjectCard project={e} /></div>)}
      </div>
    </section>
    <section id="experience">
      <h2 class="section__title">This is where I worked</h2>
      <div class="section__grid">
        {
          experiences.map((e, idx) => (
            <ExpCard experience={e} side={idx % 2 === 0 ? "left" : "right"} />
          ))
        }
      </div>
    </section>
    <section id="articles">
      <h2 class="section__title">I like to write things from time to time</h2>
      <div class="section__grid">
        {articles.slice(0, 3).map((e: Article) => <ArticleCard article={e} />)}
      </div>
      <div class="text-center w-full mt-6">
        <a class="button primary" href="https://blog.matteogassend.com"
          >Read More Articles</a
        >
      </div>
    </section>
    <section id="education">
      <h2 class="section__title">Here's where I studied</h2>
      <div class="section__grid">
        {education.map((e) => <EducationCard education={e} />)}
      </div>
    </section>
    <section id="contact">
      <h2 class="section__title">Reach Out</h2>
      <div class="w-full flex justify-center">
        <a
          href="mailto:mgassend@gmail.com"
          class="button primary uppercase flex"
        >
          <Icon name="vaadin:paperplane" class="h-8 w-8 mr-2" /> get in touch</a
        >
      </div>
      <!-- <ContactCard /> -->
    </section>
  </div>

  <style>
    .menu__item {
      @apply px-2 py-3;
    }
    .menu__item > a {
      @apply px-2 py-3 hover:-translate-y-2 transform transition-all hover:shadow-md border-transparent border-2 hover:border-white focus:border-blue-300;
    }
    .section__title {
      @apply text-center font-bold text-2xl;
    }
    .section__grid {
      @apply w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 space-y-6 lg:space-y-8;
    }
  </style>
</Layout>
