---
import type { Article } from "../utils/article.type";
import { formatDate } from "../utils/date";

export interface Props {
  article: Article;
}

const { article } = Astro.props;
---

<li>
  <p>
    <span class="font-bold">{article.title}</span>
    published {formatDate(new Date(article.dateAdded))}
  </p>
  <a
    aria-label={`read more about ${article.title}`}
    target="_blank"
    rel="noreferrer"
    href={`https://blog.matteogassend.com/${article.slug}`}>Learn More</a
  >
</li>
