---
import type { Article } from "../utils/article.type";
import { formatDate } from "../utils/date";

export interface Props {
  article: Article;
}

const { article } = Astro.props;
---

<article
  class="relative bg-cover bg-center w-full min-h-[14rem]"
  style={`background-image: url(${article.coverImage})`}
>
  <div
    class="absolute text-center w-full h-full flex flex-col justify-center items-center bg-opacity-70 bg-black"
  >
    <h1 class="text-2xl font-extrabold">{article.title}</h1>
    <p class="text-xl">
      published {formatDate(new Date(article.dateAdded))}
    </p>
    <a
      aria-label={`read more about ${article.title}`}
      class="button"
      target="_blank"
      rel="noreferrer"
      href={`https://blog.matteogassend.com/${article.slug}`}>Learn More</a
    >
  </div>
</article>
