---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../utils/date";

export interface Props {
  education: CollectionEntry<"education">;
}

const { education } = Astro.props;
---

<li>
  <p>
    <span class="font-bold">{education.data.title}</span>, {education.data.schoolName},       {formatDate(education.data.begin)} - {
      formatDate(education.data.graduation)
    }
  </p>
</li>
