---
import type { CollectionEntry } from "astro:content";
import StackElement from "./StackElement.astro";

export interface Props {
  experience: CollectionEntry<"experience">;
}

const { experience } = Astro.props;
const { Content } = await experience!.render();
---

<details
  class={`group w-full flex flex-col shadow-lg bg-slate-700 p-4 space-y-4 `}
>
  <summary class="flex justify-between">
    <p class="font-bold">{experience.data.role}</p>
    <p>
      {
        `${("0" + experience.data.begin.getMonth()).slice(
          -2
        )}/${experience.data.begin.getFullYear()}`
      } - {
        `${("0" + experience.data.end.getMonth()).slice(
          -2
        )}/${experience.data.end.getFullYear()}`
      }
    </p>
  </summary>
  <div class="w-full flex flex-col space-y-4">
    <div class="flex space-x-4 h-full items-center flex-wrap justify-center">
      {experience.data.skills.map((e) => <StackElement name={e} />)}
    </div>
    <div class="experience_details">
      <Content />
    </div>
  </div>
</details>