---
import type { CollectionEntry } from "astro:content";
import StackElement from "./StackElement.astro";

export interface Props {
  experience: CollectionEntry<"experience">;
}

const { experience } = Astro.props;
const { Content } = await experience!.render();
---

<li>
  <p>
    <span class="font-bold">{experience.data.role}</span>,
    {experience.data.companyName}
    <span>
      {
        `${("0" + experience.data.begin.getMonth()).slice(
          -2
        )}/${experience.data.begin.getFullYear()}`
      } - {
        `${("0" + experience.data.end.getMonth()).slice(
          -2
        )}/${experience.data.end.getFullYear()}`
      }</span
    >
  </p>
</li>
