---
import type { CollectionEntry } from "astro:content";
import StackElement from "./StackElement.astro";

export interface Props {
  experience: CollectionEntry<"experience">;
  side: "left" | "right";
}

const { experience, side } = Astro.props;
const { Content } = await experience!.render();
---

<article
  class={`group w-full lg:w-1/2 min-h-48 flex flex-col space-y-3 border border-black shadow-lg lg:p-8 ${
    side === "right" ? "self-end" : ""
  }`}
>
  <div
    class="w-full flex lg:flex-row flex-col items-center lg:justify-between space-y-3 lg:space-y-0"
  >
    <h4>{experience.data.role}</h4>
    <p>
      {experience.data.begin.toDateString()} - {
        experience.data.end.toDateString()
      }
    </p>
  </div>
  <div class="flex space-x-4 h-full items-center flex-wrap justify-center">
    {experience.data.skills.map((e) => <StackElement name={e} />)}
  </div>
  <div>
    <Content />
  </div>
</article>
