---
import type { CollectionEntry } from "astro:content";
import StackElement from "./StackElement.astro";

export interface Props {
  experience: CollectionEntry<"experience">;
  open?: boolean;
}

const { experience, open = false } = Astro.props;
const { Content } = await experience!.render();
---

<details
  class={`group w-full flex flex-col shadow-lg bg-slate-700 p-4 space-y-4 `}
>
  <summary>
    {experience.data.role}
    {
      `${("0" + experience.data.begin.getMonth()).slice(
        -2
      )}/${experience.data.begin.getFullYear()}`
    } - {
      `${("0" + experience.data.end.getMonth()).slice(
        -2
      )}/${experience.data.end.getFullYear()}`
    }
  </summary>
  <div class="w-full flex flex-col lg:flex-row">
    <p class="self-end"></p>
  </div>
  <div class="w-full flex flex-col space-y-4">
    <div class="flex space-x-4 h-full items-center flex-wrap justify-center">
      {experience.data.skills.map((e) => <StackElement name={e} />)}
    </div>
    <div>
      <Content />
    </div>
  </div>
</details>
