---
import { Icon } from "astro-icon";
import {location} from "../utils/data.json"
---

<footer class="w-full h-[186px] bg-primary-darker flex text-[20px] p-6 text-white">
  <div class="flex flex-col">
    <p class="footer-header">matteo<span>_</span></p>
    <p>Copyright &copy; {new Date().getFullYear()} - All rights reserved</p>
  </div>
  <div class="flex flex-col">
    <p class="footer-header">Location<span>_</span></p>
    <p>{location.country}</p>
  </div>
  <div class="flex flex-col ml-auto">
    <p class="footer-header">Social<span>_</span></p>
  </div>
</footer>

<style>
  .footer-header {
    @apply text-white opacity-80 font-bold uppercase;
  }
  .footer-header > span {
    @apply font-normal;
  }
</style>
