<div class=" w-full flex justify-between items-center bg-slate-400 dark:bg-slate-800 h-12 px-2">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl">Matteo G</a>
  </div>
  <div class="flex-none">
    <ul class="flex space-x-3">
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Articles</a></li>
    </ul>
  </div>
</div>
