<div
  id="nav"
  class="w-full transition-transform fixed top-0 flex justify-between items-center bg-neutral-400 dark:bg-neutral-800 h-12 px-4"
>
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl">Matteo G</a>
  </div>
  <div class="flex-none">
    <ul class="flex space-x-3">
      <li>
        <a href="/#projects">Projects</a>
      </li>
      <li>
        <a href="/#experience">Work</a>
      </li>
      <li>
        <a href="/#contact">Let's Talk</a>
      </li>
    </ul>
  </div>
</div>

<script>
  const nav = document.querySelector("#nav")!;
  let lastScrollTop = window.scrollY;

  setInterval(() => {
    const position = window.scrollY;
    if (position > lastScrollTop && position > 0) {
      nav.classList.add("-translate-y-12");
    } else {
      nav.classList.remove("-translate-y-12");
      nav.classList.add("top-0");
    }
    lastScrollTop = position;
  }, 250);
</script>
