---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";
import StackElement from "./StackElement.astro";

export interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<article class="w-[620px] h-[450px] bg-[#374053] px-6 py-3 flex flex-col">
  <h4 class="font-bold text-[90px] uppercase text-white opacity-40">{project.data.title}<span class="font-normal">_</span></h4>
  <p class="text-white">{project.data.summary}</p>
  <div class="flex w-full mt-auto gap-4">
    {project.data.githubUrl && <a target="_blank" rel="noreferrer" class="button" href={project.data.githubUrl}>See Source Code</a>}
    {project.data.productionUrl && <a target="_blank" rel="noreferrer" class="button" href={project.data.productionUrl}>See it Live</a>}
  </div>
  
</article>