---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";
import StackElement from "./StackElement.astro";

export interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<li>
  <p>
    <span class="font-bold">{project.data.title}</span>
    <p>{project.data.summary}</p>
    <p>
      <span class="font-semibold">Stack:</span>
      {project.data.stack.join(", ")}
    </p>

    {
      project.data.productionUrl && (
        <a target="_blank" href={project.data.productionUrl}>
          See it live
        </a>
        <br />
      )
    }


    {
      project.data.githubUrl && (
        <a
          aria-label="see source code"
          target="_blank"
          href={project.data.githubUrl}
        >
          See source code
        </a>
      )
    }
  </p>
</li>
