---
import { getEntryBySlug } from "astro:content";

const {slug} = Astro.params

const project = await getEntryBySlug("projects", slug!);
if (project === undefined)
    Astro.redirect("/")
const { Content } = await project!.render();

---

<h1>{project.data.title}</h1>
<Content />