---
import { getEntryBySlug } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const {slug} = Astro.params

const project = await getEntryBySlug("projects", slug!);
if (project === undefined)
    Astro.redirect("/")
const { Content } = await project!.render();

---
<Layout title={`Matteo Gassend - ${project.data.title}`}>
    <h1>{project.data.title}</h1>
    <img src={project.data.image} class="w-full h-96 object-cover" />
    <Content />
</Layout>