---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
import "../styles/global.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
const theme = "light";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content={`Matteo Gassend is a fullstack software developer with ${
        new Date().getFullYear() - 2020
      } years of experience`}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" title="blog rss feed" href={new URL("rss.xml", Astro.site)} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <slot name="head" />
    {import.meta.env.PROD && <script defer src="https://umami.anton.nirah.tech/script.js" data-website-id="4e5ccace-c5ac-45bc-bdc3-55a9363ee9d0"></script>
  }
    {import.meta.env.PROD && <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/cf8e95ac929e8b6d9161e9879/52306e0aa4c61f772af475f13.js");</script>}
  </head>
  <body class="bg-primary">
    <header>
      <slot name="header">
        <Header />
      </slot>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <slot name="footer">
        <Footer transition:persist />
      </slot>
    </footer>
  </body>
</html>
