---
export interface Props {
	title: string;
}

const { title } = Astro.props;
const theme = "dark"
---

<!DOCTYPE html>
<html lang="en" data-theme={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header></header>
		<main>
			<slot />
		</main>
		<footer>
			&copy; {new Date().getFullYear()} Matteo Gassend - all rights reserved
		</footer>
	</body>
</html>
<style is:global>
	html, body {
		padding: 0;
		margin: 0;
	}
	body {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
	main {
		flex: 1;
	}
</style>
