---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArticleCard from "@components/ArticleCard.astro";
import BlogHeader from "@components/BlogHeader.astro";

const articles = (await getCollection("articles")).sort(
    (a, b) => b.data.publishDate - a.data.publishDate
);
---

<Layout title="Blog | Matteo Gassend">
    <BlogHeader slot="header" transition:persist />
    <div class="w-full container mx-auto flex flex-wrap md:mt-[3rem]">
        {
            articles.map((article, i) => (
                <ArticleCard article={article} extraClass="mt-2" />
            ))
        }
    </div>
</Layout>
